body{background:#f7f6f4;color:#404040;line-height:175%;font-family: "PingFangSC-Regular","Microsoft YaHei", Arial,Helvetica;}
body,html{width:100%;overflow-x:hidden;overflow-y: scroll;}
.mainScreen{}
.fr{float: right;}
.fl{float: left;}
.fontRed{color:#ec5242;}
.font11{font-size:0.73rem;}
.font12{font-size:0.8rem;}
.font16{font-size:1.07rem;}
.font17{font-size:1.13rem;}
.font18{font-size:1.2rem;}
.font20{font-size:1.34rem;}
.font21{font-size:1.4rem;}
.header{width:100%}
.header img,.about img,.line img{width:100%;display:block;}
.about,.route .title,.line,.fare,footer{padding:0 1rem;}
.about,.route{padding-top:2.87rem;}
.mainScreen .icon{height:2.87rem;display:block;width: auto;}
.route .icon{height:4.67rem;}
.mainScreen h1.introduce{color:#ec5242;width:100%;border-bottom:1px dashed #ec5242;margin-bottom:1.23rem;line-height: 2rem;padding:0.5rem 0 0.67rem}
.mainScreen .about p.info{font-size: 0.87rem;line-height: 180%;margin-top: 0.5rem;}
.about .startTime{color: #a94e85;font-size: 1.13rem;}
.about .startTime h4{width: 5rem;height: 1.5rem;line-height: 1.5rem;background: #a94e85;color: #fff;font-size:0.8rem;font-family: "PingFang SC Bold";text-align: center;margin-top: 1.13rem;}
.about .startTime p{padding-top: 0.67rem;}
.line{margin-bottom: 2.35rem;}
.line h1{line-height:1.3rem;margin-bottom: 0.93rem;}
.line h1 span{float:left;width:2.17rem;height:2.6rem;background: url(../images/sprites.png) no-repeat;background-position: 0 0;margin-right: 0.83rem;background-size: 500px auto;}
.lineTwo h1 span{background-position: -50px 0;}
.lineThree h1 span{background-position: -100px 0;width:3.34rem}
.lineThree .module h2{width: 5rem;height: 1.5rem;line-height: 1.5rem;background: #f0a016;color: #fff;font-size: 0.8rem;font-family: "PingFang SC Bold";text-align: center;margin-top: 1.73rem;}
.lineThree .module .moduleCon {background: #fff;padding: 1.34rem;border:1px solid #f0a016;font-size: 0.87rem;}
.lineThree .module .moduleCon h3{font-size: 1.07rem;font-weight: bold;}
.lineThree .module .moduleCon img{margin: 0.5rem auto;}
.lineThree .module .moduleCon .target{color: #f0a016;margin-top: 1rem;padding-top: 0.8rem;border-top:0.5px solid #f0a016; }
.targetTitle{background: url('../images/icon_target.png') left center no-repeat;background-size:auto 0.8rem;padding-left: 2.34rem;}
.lineSix{padding:0;background: url('../images/day6_bg.png') 0 0 no-repeat;background-size:100% auto;}
.lineSix h1{padding:0 1rem 64%;margin-bottom: 0;}
.lineSix h1 span{background-position: -175px 0;}
.lineSix .detail{padding: 0 1rem;}
.lineSeven h1 span{background-position: -225px 0;}
.lineEight h1 span{background-position: -275px 0;}
.lineNine h1 span{background-position: -325px 0;}
.lineTen h1 span{background-position: -375px 0;}
.lineEleven h1 span{background-position: 0 -50px;}
.lineTwelve h1 span{background-position: -50px -50px;}
.lineThirteen h1 span{background-position: -100px -50px;}
.lineFourteen h1 span{background-position: -150px -50px;}
.line-con{font-size: 0.87rem;padding-top: 0.5rem;}
.fare {font-size: 0.87rem;}
.fare h5{color:#ec5242;font-weight: bold;}
.fare p{font-weight: 400;line-height: 150%;}
.fare img{display: block;width: 100%;}
.fare .qr-wx{padding:3rem 0;}
.fare .fee{margin-bottom: 1rem;}
.fare .fee div,.fare .qr-wx div{display: block;width: 48%;position: relative;text-align: center;}
.fare .fee div.fl{color: #f09116;border:1px solid #f09116;}
.fare .fee div.fr{color: #ec5242;border:1px solid #ec5242;}
.fare .fee .feeTitle{position: absolute;display: block;background:#f7f6f4;width: 8.4rem;line-height:2rem;left: 50%;margin-left: -4.2rem;top:-1rem;font-weight: 400;}
.fare .fee div.fl .feeTitle{width: 6rem;margin-left: -3rem;}
.feeNum{line-height: 30px;}
.fare .fee .moneyDetail{padding:1.5rem 0 1.2rem;}
.fare .qr-wx .serviceTitle{padding-bottom: 1rem;margin-bottom: 1.34rem;border-bottom: 1px dashed #ec5242;margin-left:1rem;text-align:left;width:10rem;}
.fare .qr-wx .otherContract{display: block;width:100%;padding-left:1rem;text-align:left;}
.fare .qr-wx a.tel{display: block;padding-left:1.3rem;background: url('../images/icon_phone.png') left center no-repeat;background-size:0.83rem auto;font-weight: bold;line-height: 180%;}
footer{background:#fff;padding:2.75rem 1rem;}
footer .platform{margin-bottom: 1.4rem;}
footer .platform img{display: block;width: 100%;}
footer p{text-align: center;font-weight: 400;color:#737373;font-size:0.94rem;}
